/***** Start Nav *****/

ul.navbar-nav {
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    padding: 20px;
    border: none;
}

.dropdown-menu li {
    padding-bottom: 5px;
}

.dropdown-menu a:link {
    color: rgba(0, 0, 0, .5);
}

.dropdown-menu a:visited {
    color: rgba(0, 0, 0, .5);
}

.dropdown-menu a:hover {
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
}

/***** End Nav *****/

/***** Start Home *****/

.hero {
    width: 100%;
    height: 50vh;
    background: url("../img/home-hero.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.hero h2 {
    color: white;
    text-shadow: 2px 2px #333;
}

#heroText {
    margin-left: 15%;
}

div#home-card {
    width: 75%;
    margin-left: 12.5%;
    top: -50px;
    text-align: center;
}

/***** End Home *****/

/***** Start Owl Carousel *****/

.owl-carousel {
    margin-left: 12.5%;
    width: 75%;
}

.carousel-wrap {
    margin: auto;
    padding: 0 5%;
    position: relative;
}

.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
    width: 6% !important;
}

.owl-nav .owl-next {
    right: -30px;
    width: 6% !important;
}

.owl-nav i {
    color: #646464;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-next i {
    right: 0;
}

.owl-nav .owl-next {
    right: 0px;
    width: 32.33333%;
    background: linear-gradient(to left, white 40%, transparent 140%);
    top: 0;
    margin: 0;
    height: 100%;
    box-shadow: 0px 0px 85px 13px rgba(255, 255, 255, 0.62);
}

.owl-nav .owl-prev {
    left: 0;
    background: -moz-linear-gradient(to left, white 40%, transparent 140%);
    background: -webkit-linear-gradient(to left, white 40%, transparent 140%);
    background: linear-gradient(to right, white 40%, transparent 140%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    height: 100%;
    top: 0;
    margin-top: 0;
    width: 32.33333%;
    box-shadow: 0px 0px 85px 13px rgba(255, 255, 255, 0.62);
}

/***** End Owl Carousel *****/
